/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  direction: rtl;

}
body {
  margin: 0;
  font-family: 'Assistant', sans-serif;
}
h1 {
  font-family: 'Assistant', sans-serif;
  font-size: 3.2vw;
  margin: 0;
  font-weight: 100;
}

h2 {
  font-family: 'Assistant', sans-serif;
  font-size: 3vw;
  margin: 0;
  font-weight: 100;
}
h3 {
  font-family: 'Assistant', sans-serif;
  font-size: 2.5vw;
  margin: 0;
  font-weight: 100;
}
h4 {
  font-family: 'Assistant', sans-serif;
  font-size: 1.8vw;
  margin: 0;
  font-weight: 100;
}
p {
  font-family: 'Assistant', sans-serif;
  font-weight: 100;
}

app-header {
  background-color:white;
  border-bottom: 3px solid lightseagreen ;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 10vh;
  justify-content: space-between;
}

app-homepage, app-shopping-page, app-admin, app-checkout {
  display: flex;
  flex-direction: row;
  width: 96vw;
  height: 80vh;
  justify-content: space-around;
  margin: 0 auto;
}
app-checkout {
  flex-direction: row-reverse;
}
app-signup {
  margin-top: 1vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
app-modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

