input, button, mat-option {
  font-family: 'Assistant', sans-serif;
  text-align: center;
}
button {
  font-size: 1.2vw;
 }

.title {
  display: flex;
  padding: 1.4vh 0 1.4vh 0;
  /* justify-content: center; */
  align-items: center;
  width: 100%;
  height: 7vh;
  background-color: rgb(231, 231, 231);
  flex-direction: row;
  color: #333333;
}
.title h4 {
  margin-right: 7vw;
}
.title button {
  background: none;
  border: none;
}

mat-icon, .title button {
  width: 2vw;
  height: 2vw;
  font-size: 1.5vw;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
}

.createAndEditProduct, form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.adminForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
}
.adminForm input[type="text"], .adminForm input[type="number"], select, button {
  width: 100%;
  height: 5vh;
}

mat-form-field {
  text-align: center;
  width: 100%;
  margin-top: 1vh;
}

.img-picker {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.img-picker img {
  width: 40%;
  height: auto;
}

input[type="file"] {
  visibility: hidden;
  width: 1px;
  font-family: 'Assistant', sans-serif;
}
