<div class="title">
  <h4>העגלה שלי</h4>
</div>
<div class="cart">
  <div class="item" *ngFor="let item of items">
    <div class="image" class="innerItem image">
        <img [src]="item.image" alt="">
    </div>
    <p class="innerItem">{{ item.name }}</p>
    <p class="innerItem">₪{{ item.price}}</p>
    <input type="number" [(ngModel)]="item.qty" class="innerItem">
    <button mat-raised-button color="warn" class="innerItem" (click)="deleteCartItems(item._id)">ביטול</button>
  </div>
</div>
<div class="total">
  <button mat-raised-button color="primary" class="innerItem" (click)="continueToOrder()">סיום קניה</button>
  <button mat-raised-button color="warn" class="innerItem" (click)="deleteAllCartItems()">מחיקת כל המוצרים</button>
  <div class="totalText">
      <h4>סה"כ לתשלום:</h4>
      <h4>₪{{ total }}</h4>
  </div>
</div>
