<div class="title">
  <h4>העגלה שלי</h4>
</div>
<div class="cart">
  <div class="search" *ngIf="mode === 'checkout'">
    <input type="text" placeholder="חפש מילה" (keyup)="updateSearch($event)">
  </div>
  <div class="item" *ngFor="let item of items">
    <div class="image" class="innerItem image">
        <img [src]="item.image" alt="">
    </div>
    <div class="innerItem" [innerHTML]="item.name | highlight: searchTerm">
      <p>{{ item.name }}</p>
    </div>
    <div class="innerItem">
      <p>₪{{ item.price}}</p>
    </div>
    <div class="innerItem qty">
      <input type="number" [(ngModel)]="item.qty">
    </div>
    <div class="innerItem">
      <button mat-raised-button color="warn" (click)="deleteCartItems(item._id)">ביטול</button>
    </div>
  </div>
</div>
<div class="total">
  <button mat-raised-button color="primary" class="innerItem" *ngIf="mode === 'shopping'" (click)="continueToOrder()">סיום קניה</button>
  <button mat-raised-button color="warn" class="innerItem" *ngIf="mode === 'shopping'" (click)="deleteAllCartItems()">מחיקת כל המוצרים</button>
  <div class="totalText">
      <h4>סה"כ לתשלום:</h4>
      <h4>₪{{ total }}</h4>
  </div>
</div>
