.title {
  display: flex;
  padding: 1vh 0 1vh 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 7vh;
  background-color: rgb(231, 231, 231);
  flex-direction: column;
  color: #333333;
}
.cart {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  flex-flow: wrap;
  color: #333333;
  overflow-y: scroll;
  overflow-x: hidden;
}
.item {
  width: 100%;
  height: 10vh;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.innerItem{
  width: 5vw;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.qty {
  width: 2vw;
}
.innerItem input {
  width: 100%;
}
.image {
  height: 100%;
}

.item img {
  width: auto;
  height: 100%;
}
input[type="number"] {
  height: 4vh;
  border: 1px solid rgb(235, 235, 235);
  padding: 0.2vw;
}
.item:nth-child(even) {
  background-color: rgb(245, 245, 245);
}
.total {
  display: inline-flex;
  flex-direction: row-reverse;
  width: 100%;
  height: 10vh;
  justify-content: space-evenly;
  align-items: center;
  align-self: flex-end;
}
.total button {
  height: 5vh;
  width: 7vw;
  white-space: normal;
  line-height: 2vh;
}
.total h4 {
  font-size: 1vw;
  line-break: normal;
}

.totalText {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.item p {
  font-size: 0.8vw;
  line-height: 0.8vw;
}
