.notification {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-content: space-between;
  text-align: center;
}

.preview, .totalProducts {
  width: 100%;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  height: auto;
}
.totalProducts {
  margin-top: 2vh;
}
.preview {
  background-color: rgb(231, 231, 231);
}
.preview img {
  height: 75%;
  border-radius: 10px;
  margin: 1vw;
  border: 2px solid lightblue;
}
.preview h4 {
    width: 75%;
    margin-top: 2vh;
    line-height: 4vh;
    padding: 1vh 5vw;
    background-color: #D41216;
    color: white;
}

hr {
  width: 70%;
}

