.notification {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.preview, .totalProducts {
  width: 100%;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
}
.totalProducts {
  margin-top: 2vh;
}
.preview {
  background-color: rgb(231, 231, 231);
}
.preview img {
  width: 50%;
  border-radius: 10px;
  margin-top: 2vw;
  border: 2px solid lightblue;
}
.preview h4 {
  height: 8vh;
  width: 100%;
  margin-top: 2vh;
  line-height: 8vh;
  background-color: #D41216;
  color: white;
}

hr {
  width: 70%;
}

