<mat-spinner *ngIf="isLoading"></mat-spinner>
    <form [formGroup]="form" (submit)="sendCheckout()" *ngIf="!isLoading">
      <mat-form-field>
        <input type="text" matInput placeholder="עיר" formControlName="city">
        <mat-error *ngIf="form.get('city').invalid">שדה חובה</mat-error>
      </mat-form-field>
      <mat-form-field>
          <input type="text" matInput placeholder="רחוב" formControlName="street">
          <mat-error *ngIf="form.get('street').invalid">שדה חובה</mat-error>
      </mat-form-field>
      <mat-form-field>
          <input type="date" matInput placeholder="תאריך משלוח" formControlName="shippingDate">
          <mat-error *ngIf="form.get('shippingDate').invalid">שדה חובה</mat-error>
      </mat-form-field>
      <mat-form-field>
          <input type="number" matInput placeholder="מספר כרטיס אשראי" formControlName="creditCard">
          <mat-error *ngIf="form.get('creditCard').invalid">שדה חובה</mat-error>
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary">לרכישה</button>
    </form>
